.wrapper {
  display: grid;
  grid-template-columns: minmax(auto, 400px) minmax(auto, auto);
  align-items: flex-start;
  grid-gap: 40px;
  padding: 40px 0;
}
.error_title {
  @extend %mon-700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  max-width: 300px;
  margin: 0 auto 15px;
}
.error_photo {
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
}
.name {
  @extend %mon-700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  margin-top: 35px;
}
.image {
  padding-bottom: 18px;
  img {
    margin: 0 auto;
    height: 300px;
  }
}
.types {
  grid-column: span 2;
}
.moves {
  grid-column: span 3;
}

%mon-400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
%mon-700 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
