.input_wrapper {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}
.input {
  background-color: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  border: 2px solid #1d2b5e;
  width: 250px;
  transition: border .2s ease-in-out;
  @extend %mon-400;
  font-size: 14px;
  line-height: 19px;
  color: #000;
  &:focus {
    outline: 0;
  }
  &:disabled{
    border: 2px solid #c4c4c4;
    color: #c4c4c4;
  }
}
.error{
  @extend %mon-400;
  font-size: 15px;
  line-height: 19px;
  color: #fff;
}

%mon-400{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}