.input_wrapper {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}
.input {
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid transparent;
  width: 250px;
  padding: 10px 40px 10px 16px;
  transition: border 0.2s ease-in-out;
  @extend %mon-400;
  font-size: 14px;
  line-height: 19px;
  color: #000;
  &:focus {
    outline: 0;
    border: 2px solid #1d2b5e;
  }
  &:disabled {
    border: 2px solid #c4c4c4;
    color: #c4c4c4;
  }
  &_box {
    display: flex;
    align-items: center;
    background-color: #fff;
    position: relative;
    border-radius: 8px;
    svg {
      user-select: none;
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 25px;
      object-fit: contain;
      cursor: pointer;
      transition: transform 0.1s ease-in-out;
      path {
        fill: #1d2b5e;
      }
      &:active {
        transform: scale(0.9) translateY(-50%);
      }
    }
  }
}
.error {
  @extend %mon-400;
  font-size: 15px;
  line-height: 19px;
  color: #fff;
}

%mon-400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@media (max-width: 768px) {
  .input {
    max-width: 200px;
    padding: 6px 28px 6px 12px;
    &_box {
      svg {
        right: 6px;
        width: 20px;
        height: 20px;
      }
    }
  }
  .error {
    font-size: 13px;
    line-height: 15px;
    text-align: right;
  }
}
@media (max-width: 425px) {
  .input {
    max-width: 160px;
    &_wrapper {
      grid-gap: 4px;
    }
  }
  .error {
    font-size: 12px;
    line-height: 14px;
  }
}
