.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #1d2b5e;
  padding: 10px 16px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #fccb07;
    img {
      transform: scale(1.2);
    }
  }
  &:active {
    background-color: #e2b500;
    border: 1px solid #e2b500;
    transform: scale(0.9);
    img {
      transform: scale(1.4);
    }
  }
  &_name {
    @extend %mon-400;
    color: #1d2b5e;
    text-transform: capitalize;
    margin-top: 10px;
    text-align: center;
  }
  img {
    transition: transform 0.2s ease-in-out;
    height: 100px;
    width: 100px;
    object-fit: cover;
  }
}
.loader{
  height: 100px;
  display: flex;
  align-items: center;
  img{
    height: 40px;
    width: 40px;
  }
}
%mon-400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
@media (max-width: 768px) {
  .item {
    &:hover {
      background-color: antiquewhite;
      img {
        transform: scale(1);
      }
    }
    &:active {
      background-color: antiquewhite;
      border: 1px solid #1d2b5e;
      img {
        transform: scale(1.4);
      }
    }
  }
}
