.header {
  background-color: red;
  padding: 16px 0;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.image {
  max-width: 200px;
  transition: transform 0.2s ease-in-out;
  &:active {
    transform: scale(0.9);
  }
}
.img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .header {
    padding: 8px 0;
  }
  .image {
    max-width: 150px;
  }
}
@media (max-width: 425px) {
  .image {
    max-width: 120px;
  }
}
