.header {
  background-color: #f50e02;
  padding: 16px 0;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.image {
  max-width: 200px;
  transition: transform .2s ease-in-out;
  &:active {
    transform: scale(0.9);
  }
}
.img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
