.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  &_wrapper{
    display: flex;
    justify-content: flex-end;
    padding-right: 15%;
  }
}
.poke{
  padding-bottom: 20px;
  height: 200px;
  z-index: 2;
  animation: poke 3s infinite alternate;
}
.grass{
  height: 300px;
  max-width: 100%;
  width: 100%;
  &_wrapper{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
  }
}

@keyframes poke {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-80%);
  }
}