.wrapper {
  padding: 20px 0 0;
  display: flex;
  grid-gap: 10px;
}
.cancel {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  svg {
    width: 33px;
    height: 33px;
    transition: filter 0.1s ease-in-out;
    filter: grayscale(0);
  }
  &:active {
    transform: scale(0.9);
  }
  &_disabled {
    cursor: not-allowed;
    svg {
      filter: grayscale(90%);
    }
    &:active {
      transform: scale(1);
    }
  }
}
.select {
  @extend %mon-700;
  font-size: 16px;
  line-height: 19px;
  padding: 6px 10px;
  border: 1px solid #1d2b5e;
  border-radius: 6px 6px 0 0;
  display: inline-block;
  max-width: 151px;
  width: 100%;
  text-transform: capitalize;
  cursor: pointer;
  &_opened {
    border-radius: 6px;
  }
}
.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 145px;
  width: 100%;
  border: 1px solid #1d2b5e;
  border-top: none;
  border-radius: 0 0 6px 6px;
  overflow-y: auto;
  max-height: 200px;
  // padding-right: 10px;
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    margin-top: 4px;
    margin-bottom: 4px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(#1d2b5e, 0.8);
    border: 1px solid antiquewhite;
    border-radius: 4px;
  }
}
.item {
  max-width: 100%;
  width: 100%;
  @extend %mon-700;
  font-size: 15px;
  line-height: 19px;
  padding: 6px 10px;
  text-transform: capitalize;
  position: relative;
  & + & {
    border-top: 1px dashed #000;
  }
  &:hover {
    color: #18447d;
    cursor: pointer;
  }
}

%mon-400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
%mon-700 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
