.wrapper {
  display: grid;
  grid-template-columns: minmax(auto, 400px) minmax(auto, auto);
  align-items: flex-start;
  grid-gap: 40px;
  padding: 20px 0 40px;
}
.types {
  grid-column: span 2;
}
.moves {
  grid-column: span 3;
}
.loader_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 106px);
  img{
    max-width: 100px;
  }
}
@media (max-width: 768px) {
  .wrapper{
    padding-top: 0;
    grid-template-columns: calc(100vw - 30px);
  }
  .loader_wrapper{
    min-height: calc(100vh - 72px);
  }
}