html,
body {
  background-color: red;
  scroll-behavior: smooth;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}
input[type="number"] {
  -moz-appearance: textfield; /* для Firefox */
  appearance: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.swiper-wrapper {
  box-sizing: border-box;
}
.swiper-pagination {
  top: auto !important;
  bottom: -10px !important;
  &-bullet {
    background-color: #3267b0 !important;
    transition: opacity .2s ease-in-out;
  }
}
.swiper-slide-shadow-cube{
  opacity: 0 !important;
}
.swiper-cube-shadow {
  &::before {
    background-color: #fccb07 !important;
  }
}
.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}
%mon-400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
%mon-700 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
